.headerWrapper {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	padding: 0 var(--spacing-L);
	height: 50px;
	width: 100%;
	z-index: 1;

	.headerItems {
		display: grid;
		grid-template-columns: max-content max-content;
		justify-content: space-between;
		align-items: center;
		justify-items: center;
		height: 100%;
		margin: auto;
	}

	.sessionInfo {
		display: grid;
		grid-template-columns: max-content max-content;
		grid-template-rows: 15px 15px;
		grid-gap: var(--spacing-XS);
		align-items: center;
		justify-items: end;
		align-content: center;
		height: 100%;
		font-size: var(--font-size-XXS);
		color: var(--color-text-contrast);


		.statusDott {
			width: 8px;
			height: 8px;
			border-radius: 4px;
		}

		.green {
			background-color: var(--color-success-main);
		}

		.yellow {
			background-color: var(--color-warning-main);
		}

		.grey {
			background-color: var(--color-idle-main);
		}
	}

	.logoLink {
		box-sizing: border-box;
		border-radius: 5px;
		font-size: var(--font-size-S);
		font-weight: bold;
		text-decoration: none;
		user-select: none;

		.y {
			color: var(--color-prymary-main);
		}

		.js {
			color: var(--color-text-contrast);
		}

		&:focus-visible {
			outline: var(--outline-focus);
		}
	}

	nav {
		height: 100%;
	}
}
